body{
    margin:0px;
    overflow-x: hidden;
    height:100%;
    min-width: 500px;
    width: 100vw;
    font-family: Arial, Helvetica, sans-serif; 
}

.background{
    min-width: 500px;
    width:100vw;
    background-image: url('../images/background.svg');
    background-repeat: repeat;
    background-attachment: fixed;
    position: absolute;
}

.first_block{
    width:90%;
    margin-left:5%;
}

.js_only{
    display:none;
}

.content{
    display:block;
    border: 2px solid #daa520;
    border-radius: 5px;
    border-top-left-radius: 55px;
    border-bottom-right-radius: 55px;
    height:auto;
    width:80%;
    min-width: 400px;
    max-width:1800px;
    background: white;
    margin:10%;
    margin-top:5%;  
    margin-bottom: 5%;
    transition: border-radius 0.8s;
}

.picture{
    display: inline-block;
    margin: 3%;
    margin-left: 5%;
    border-top-left-radius: 55px;
    border-bottom-right-radius: 55px;
    border: none;
    height:300px;
    width: 300px;   
    overflow: hidden;
    box-shadow: 1px 1px 1px 1px grey;
    transition: margin 0.8s;
}

.main_title{
    margin: 3%;
    margin-top:8%;
    margin-bottom:35px;
    padding: 0px;
    display: inline-block;
    height:auto;
    vertical-align: top;
    max-width: calc(85% - 300px);
    width: auto;
    text-align: center;
    position: relative;
}

.section{
    width:90%;
    margin-left:5%;
    text-align: center;
    margin-top: 50px;
}

.section:last-child{
    margin-bottom: 30px;
}

.text{
    font-size: 16pt;
    color: #323232;  
    transition: all 0.8s;
    text-align: justify;
    margin-left:5%;
    width:90%;
}


h1{
    font-size: 25pt; 
    margin: 0px;
    margin-bottom:15px;
}

h2{
    font-size: 20pt;
    margin:0px;
    margin-bottom:10px;
}

.title{
    color: #66806D;  
}

li{
    margin-bottom:10px;
}

ul{
    list-style-type: square;
    text-align:justify;
    padding-left:20px;
}

.chevron{
    cursor: pointer;
}

.logo{
    height: auto;
    width:50px;
    display:inline-block;
    vertical-align:middle; 
}


.skill_item{
    width:50%;
    margin-left:25%;
    margin-top:35px;
    transition: width 0.8s;
}

.bar:hover{
    cursor: pointer;
}

.language_item{
    width:70%;
    margin-left:15%;
    margin-top:2%;
    transition: width 0.8s; 
}

.hidden_check{
    opacity:0;
}

.description{
    display:none;
    width:auto;
    font-size: 12pt;
    margin-top:10px;
    background: #323232;
    color:white;
}

.hidden_check{
    opacity:0;
}

.hidden_check:checked + .description{
    display:block;
    box-shadow: 1px 1px 2px 1px grey;
    border-top-left-radius: 25px;
    border-bottom-right-radius: 25px;
    padding: 10px;
}

.bar{
    width:auto;
    display:inline-block;   
    vertical-align:middle;
    margin-left: 15px;
    user-select: none;
}

.bar_lng{
    margin-top:5px;
    width:auto;
    display:block;   
}

.bar_block{
    width: 95px;
    padding:2px;
    height:20px;
    background-color: #323232;
    display: inline-block;
    color: white;
    text-align: center;
    box-shadow: 1px 1px 1px 1px grey;
    line-height: 20px;
}

.bar_block:first-child{
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.bar_block:last-child{
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px; 
}


.filled{
    background-color:  #66806D; 
    font-style: italic;
}

.topico{
    text-align: center;
}

.topico::after{
    width: 100%;
    height: 1px;
    margin-bottom:30px;
    border:none;
    background-image: linear-gradient(to right,transparent 20%,grey, transparent 80%);
    display: block;
    content: "";
    margin-bottom:25px;
    margin-top:5px;
}



@media (max-width: 1000px){
    .picture{
        margin-top: 5%;
        width: 200px;
        height: 200px;
        margin-left: calc(50% - 100px);
        margin-right: calc(50% - 100px);
        float:none;
    }  
    .content{
        border-radius: 10px;
        margin-left: 5%;
        margin-right: 5%;
        width:90%;
    }
    .main_title{
        width:92%;
        height: auto;
        transition: width 0.8s;
        max-width: none;
        margin:4%;
        margin-top:2%;
        margin-bottom: 15px;
    }
    .skill_item{
        width:90%;
        margin-left:8%;
        margin-top:35px;
    }

    .language_item{
        display: block;
        width: 80%;
        margin-left:10%;
    }
        
    .description{
        width:60%;
        font-size: 12pt;
        text-align: center;
        margin-top:15px;
        margin-left:10%;
    }

    .logo{
        margin-bottom: 10px;
        display: block;
        margin-left: calc(50% - 50px)
    }

    h1{
        font-size: 20pt; 
        margin: 0px;
        margin-bottom:15px;
    }
    
    h2{
        font-size: 16pt;
        margin:0px;
        margin-bottom:10px;
    }

    .text{
        font-size: 14pt;
    }

    .bar{
        margin-left: 0px;
        display: inline-block;
        width: auto;
    }
    
    .bar_lng{
        margin-top:5px;
        width:auto;
        display:block;     
    }
    
    .bar_block{
        width: auto;
        padding:4px;
    }

    .bar_block:first-child{
        width: auto;
        padding:4px;
    }
    
    .bar_block:last-child{
        width: auto;
        padding:4px;
    }
}